@tailwind base;
@tailwind components;
@tailwind utilities;

.fire {
  background-color: #ff5b00;
}

.water {
  background-color: #3ab4f2;
}

.grass {
  background-color: #00ffab;
}

.bug {
  background-color: #d4d925;
}

.normal {
  background-color: #cfd2cf;
}

.poison {
  background-color: #f806cc;
}

.ghost {
  background-color: #80558c;
}

.electric {
  background-color: #faea48;
}

.rock {
  background-color: #876445;
}

.ice {
  background-color: #c1efff;
}

.ground {
  background-color: #bf9742;
}

.fairy {
  background-color: #ff8fb1;
}

.psychic {
  background-color: #f7ecde;
}

.dragon {
  background-color: #319da0;
}

.fighting {
  background-color: #eb1d36;
}
